<footer class="footer">
	<div class="section-inner">
		<div class='wrapper col footer-main-content'>
			<div class="wrapper footer-row1">
				<a href="#" class="main-logo footer">
					<img src="./img/main-logo-white.svg" alt="">
				</a>
				<nav class="navbar">
					<ul class="navbar-list">
						<li class="navbar-list__item">
							<a href="#" class="navbar-list__link">О продукции</a>
						</li>
						<li class="navbar-list__item">
							<a href="#" class="navbar-list__link">Доставка</a>
						</li>
						<li class="navbar-list__item">
							<a href="#" class="navbar-list__link">Контакты</a>
						</li>
						<li class="navbar-list__item">
							<a href="#reviews" class="navbar-list__link">FAQ</a>
						</li>
						<li class="navbar-list__item">
							<a href="#" class="navbar-list__link">О нас</a>
						</li>
						<li class="navbar-list__item">
							<a href="#" class="navbar-list__link">Наша команда</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="wrapper footer-row2">
				<div class="wrapper col contacts-col">
					<div class="contacts-block">
						<div class="wrapper-inner">
							<div class="contacts-wrapper">
								<span class="footer__block-title">
									Наши контакты:
								</span>
								<a class='contact-link phone' href="tel:+70000000000">+7 000 000 00 00</a>
								<a class='contact-link email' href="mailto:our_mail@gamail.com">our_mail@gmail.com</a>
								<span class='contact-link map'>г. Москва, ул. Советская 217</span>

							</div>
						</div>

					</div>
					<div class="work-schedule">
						<span class="footer__block-title">
							График работы:
						</span>
						<div class='wrapper col'>
							<span class="schedule-text">с понедельника по пятницу</span>
							<span class="schedule-text">с 9:00 до 17:00</span>
						</div>


					</div>
				</div>
				<div class="wrapper footer-list">
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
						</ul>
					</div>
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
						</ul>
					</div>
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>

						</ul>
					</div>
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>

						</ul>
					</div>
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>

						</ul>
					</div>
					<div class="footer__items">

						<span class='footer__items-title'>GSM REPEATERS (VOICE + 4G LTE INTERNET)</span>
						<ul class='footer__items-list'>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>
							<li>
								<a class='footer__items-list-item' href="#">GSM REPEATER 900 MHz (Voice) - 300 m2</a>
							</li>

						</ul>
					</div>
				</div>


			</div>
			<div class="wrapper col payment-methods mobile">
				<div class='wrapper'>
					<img class='mastercard' src="./img/mastercard.svg" alt="">
					<img class='visa' src="./img/visa.svg" alt="">
				</div>
				<div class='wrapper'>
					<img class='dashcoin' src="./img/dash.svg" alt="">
				</div>
				<div class='wrapper'>
					<img class='perfect-money' src="./img/logo-perfect-money.svg" alt="">
				</div>
				<div class='wrapper'>
					<img class='paypal' src="./img/logos_paypal.svg" alt="">
					<img class='ups' src="./img/ups.svg" alt="">
				</div>
			</div>
			<div class="wrapper footer-row3">
				<a class="footer-link" href="#">Политика конфиденциальности</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
				<a class="footer-link" href="#">Политика конфиденциальности</a>
				<a class="footer-link" href="#">Обработка</a>
				<a class="footer-link" href="#">Обработка персональных данных</a>
			</div>

			<div class="wrapper footer-row4">
				<div class="copyright">
					<span>© 2019-2021, Все права защищены.</span>
				</div>
			</div>
		</div>

		<div class="wrapper col payment-methods desktop">
			<div class='wrapper'>
				<img class='mastercard' src="./img/mastercard.svg" alt="">
				<img class='visa' src="./img/visa.svg" alt="">
			</div>
			<div class='wrapper'>
				<img class='dashcoin' src="./img/dash.svg" alt="">
			</div>
			<div class='wrapper'>
				<img class='perfect-money' src="./img/logo-perfect-money.svg" alt="">
			</div>
			<div class='wrapper'>
				<img class='paypal' src="./img/logos_paypal.svg" alt="">
				<img class='ups' src="./img/ups.svg" alt="">
			</div>
		</div>


	</div>

</footer>