<header class='header'>
    <div class="top-header">
        <div class="top-header-inner">
            <div class="selects-wrapper">
                <div class="wrapper col">
                    <div class='custom-select'>
                        <select name="" id="">
                            <option value="England">Англия</option>
                            <option value="Ukraine">Украина</option>
                            <option value="USA">США</option>
                            <option value="China">Китай</option>
                        </select>
                    </div>
                </div>
                <div class="wrapper col">
                    <div class='custom-select'>
                        <select name="" id="">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="UAH">UAH</option>
                        </select>
                    </div>
                </div>
                <div class="wrapper col">
                    <div class='custom-select'>
                        <select name="" id="">
                            <option value="EN">EN</option>
                            <option value="UA">UA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-inner hidden">
        <div class="fade-block"></div>
        <div class='wrapper main-row'>
            <a class='main-logo-link' href="#"> <img class="main-logo" src="./img/main-logo.svg" alt=""></a>

            <nav class="navbar desktop">
                <ul class="navbar-list">
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">О продукции</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">Доставка</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">Контакты</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#reviews" class="navbar-list__link">FAQ</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">О нас</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">Наша команда</a>
                    </li>
                </ul>
            </nav>

            <div class="wrapper header-wrapper">
                <form action="" class="form hidden header-form-js">
                    <div class='header-input-search'>
                        <input class='hidden header-input-js' type="text" placeholder="Поиск">
                    </div>
                    <a class='search-link' href="#"><img class='search-img' src="./img/search.svg" alt=""></a>
                </form>

                <a href="#" class='compare d-none'><img src="./img/balance.svg" alt=""></a>

                <a class='cart-link' href="#"><img src="./img/cart.svg" alt=""><span class='cart-count'>10</span></a>

                <a href="#" class="account-link btn bg-white-brand1 desktop ">
                    Аккаунт
                </a>
                <!-- АВАТАР С ИМЕНЕМ  -->
                <div class="user-in d-none">
                    <a class="user-in__link" href="#">
                        <img src="./img/team-member1.png" alt="">
                    </a>
                </div>
                <!-- АВАТАР С ИМЕНЕМ  -->
                <button class="menu-opener" aria-label="Show navigation">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>
        </div>
        <div class="wrapper row2">
            <nav class='navbar'>
                <ul class="navbar-list">
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE + 4G LTE INTERNET)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE + 4G LTE INTERNET)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#reviews" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE + 4G LTE INTERNET)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#reviews" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <div class="mobile-menu">
        <div class='wrapper'>
            <div class='inner'>
                <!-- <a href="#" class="main-logo mobile">
                    <img src="./img/main-logo.svg" alt="">
                </a> -->
                <div class="close-menu--burger">
                    <img src="./img/close-burger.svg" alt="">
                </div>
            </div>

            <!-- АВАТАР С ИМЕНЕМ И КНОПКА ЛИЧНЫЙ КАБИНЕТ -->
            <!-- <div class="personal-cabinet-block">
              <div class="mobile-menu__avatar">
                  <img src="/images/mobile-menu-avatar.png" alt="">
              </div>
              <div class='personal-cabinet-links'>
                  <a class='personal-cabinet-links__link' href="#">Иванов
                      Иван Иванович </a>

                  <a class='btn bg-blue' href="#">Личный кабинет</a>
              </div>
          </div> -->
            <!-- АВАТАР С ИМЕНЕМ И КНОПКА ЛИЧНЫЙ КАБИНЕТ -->
            <div class="wrapper-inner">
                <a class='search-link' href="#"><img src="./img/search.svg" alt=""></a>
                <!-- <a class='compare-link' href="#"><img src="../img/balance.svg" alt=""></a> -->
                <a href="#" class='compare '><img src="./img/balance.svg" alt=""></a>
                <a class='cart-link' href="#"><img src="./img/cart.svg" alt=""><span class='cart-count'>10</span></a>
                <a class='logout-link' href="#"><img src="./img/logout.svg" alt=""></a>


                <a href="#" class="account-link btn bg-white-brand1 d-none">
                    Аккаунт
                </a>
            </div>

            <div class="wrapper-inner">
                <nav class='navbar'>
                    <ul class="navbar-list">
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE + 4G LTE INTERNET)</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE + 4G LTE INTERNET)</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#reviews" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">GSM REPEATERS (VOICE)</a>
                        </li>

                    </ul>
                </nav>
            </div>


            <div class="main-menu-wrapper">
                <nav class="navbar">
                    <ul class="navbar-list">
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">О продукции</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">Доставка</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">Контакты</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#reviews" class="navbar-list__link scrolled">FAQ</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">О нас</a>
                        </li>
                        <li class="navbar-list__item">
                            <a href="#" class="navbar-list__link">Наша команда</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-block">
                <div class="card">
                    <div class="card-header">
                        <picture>
                            <img src="./img/pers-cab-avatar.png" alt="">
                        </picture>
                        <div class="header-info">
                            <span class="header-text header-text--main">Иванов Иван Иванович</span>
                            <a href='mailto:youremail@gmail.com ' class="header-text">youremail@gmail.com </a>
                            <a href="tel:+7 000 000 00 00" class="header-text">+7 000 000 00 00 </a>
                        </div>
                    </div>
                    <div class="row">
                        <a class='row__text-item order row__text-item--bigger active' href="#">Мои
                            заказы</a>
                        <a class='row__text-item addresses row__text-item--bigger' href="#">Мои адреса</a>

                    </div>
                    <div class="row">
                        <a href="#" class="row__text-item subscription">Управление подпиской</a>
                        <a href="#" class="row__text-item edit">Редактирование личных данных</a>
                        <a href="#" class="row__text-item logout">Выход</a>

                    </div>
                </div>
            </div>

        </div>
    </div>


</header>